@*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@
@model SaaSBoostHelloWorld.Models.Category
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Category</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col">
                <h2>Add Category</h2>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-2">
                    @Html.Label("Name", "Category", "col-form-label")
                </div>
                <div class="col-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @style = "width:auto", @placeholder = "Category Name" } })
                    @Html.ValidationMessage("Name", ViewData["error"], "invalid-feedback")
                </div>
            </div>
            <div class="form-group row">
                <div class="col-10 offset-2">
                    <a role="button" class="btn btn-secondary" href="/category/cancel">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        }
    </div>
</body>
</html>
